<section class="table-container">
  <table class="table">
    <Caption>CPU Coolers/Fans/AIO</Caption>

    <thead>  
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>RPM</th>
        <th>Noise Level</th>
        <th>Radiator Size</th>
        <th>Supported Socket</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
    <% @cpu_fans = @cpu_fans.select{ |cpu_fan| cpu_fan.supported_socket.include?("AM4") } %>
      <% @cpu_fans.take(10).each do |c| %>
        <tr>
          <td><%= image_tag c.image, style: 'height:50px;width:auto;' %></td>
          <td><%= c.name.to_s.truncate(30) %></td>
          <td><%= c.fan_rpm %></td>
          <td><%= c.noise_level %></td>
          <td><%= c.radiator_size %></td>
          <td><% c.supported_socket.each do |a| %>
          <%= a.to_s.gsub(/[@\[\]"]/, "") %>
          <%end%></td>
          <td><%= c.price %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>
