<section class="table-container">
  <table class="table">
    <Caption>CPUs</Caption>

    <thead>  
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Socket</th>
        <th>Max Memory</th>
        <th>Core Count</th>
        <th>Core Clock</th>
        <th>Boost Clock</th>
        <th>TDP</th>
        <th>SMT</th>
        <th>Rating</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <% @cpus.each do |cpu| %>
        <tr>
          <td><%= cpu.image %></td>
          <td><%= cpu.name %></td>
          <td><%= cpu.socket %></td>
          <td><%= cpu.max_memory %></td>
          <td><%= cpu.core_count %></td>
          <td><%= cpu.core_clock %></td>
          <td><%= cpu.boost_clock %></td>
          <td><%= cpu.tdp %></td>
          <td><%= cpu.smt %></td>
          <td><%= cpu.rating %></td>
          <td><%= cpu.price %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>
