<section class="table-container">
  <table class="table">
    <Caption>Hard Drives</Caption>

    <thead>  
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Capacity</th>
        <th>RPM</th>
        <th>Cache</th>
        <th>Form Factor</th>
        <th>Interface</th>
        <th>Price</th>
        <th>:)</th>
      </tr>
    </thead>

    <tbody>
      <% @hdds.take(10).each do |h| %>
        <tr>
          <td><%= image_tag h.image, style: "height:50px;width:auto;" %></td>
          <td><%= h.name.to_s.truncate(28) %></td>
          <td><%= h.capacity %></td>
          <td><%= h.rpm %></td>
          <td><%= h.cache %></td>
          <td><%= h.form_factor %></td>
          <td><%= h.interface %></td>
          <td><%= h.price %></td>
          <td><%= button_to "Add to Build" %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>
