<section class="table-container">
  <table class="table">
    <Caption>Motherboards</Caption>

    <thead>  
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Form Factor</th>
        <th>Socket</th>
        <th>Max Memory</th>
        <th>Memory Slots</th>
        <th>Price</th>
        <th>:)</th>
      </tr>
    </thead>

    <tbody>
      <% @mobos.take(10).each do |mobo| %>
        <tr>
          <td><%= image_tag mobo.image, style: "height:50px;width:auto;" %></td>
          <td><%= mobo.name.to_s.truncate(18) %></td>
          <td><%= mobo.form_factor %></td>
          <td><%= mobo.socket_cpu %></td>
          <td><%= mobo.max_memory %></td>
          <td><%= mobo.memory_slots %></td>
          <td><%= mobo.price %></td>
          <td><%= button_to "Add to Build" %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>
