<section class="table-container">
  <table class="table">
    <Caption>Power Supplies</Caption>

    <thead>  
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Form Factor</th>
        <th>Efficiency Rating</th>
        <th>Wattage</th>
        <th>Modular</th>
        <th>Price</th>
        <th>:)</th>
      </tr>
    </thead>

    <tbody>
      <% @psus.take(10).each do |psu| %>
        <tr>
          <td><%= image_tag psu.image, style: "height:50px;width:auto;" %></td>
          <td><%= psu.name.to_s.truncate(28) %></td>
          <td><%= psu.form_factor %></td>
          <td><%= psu.efficiency_rating %></td>
          <td><%= psu.wattage %></td>
          <td><%= psu.modular %></td>
          <td><%= psu.price %></td>
          <td><%= button_to "Add to Build" %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>
