<section class="table-container">
  <table class="table">
    <Caption>SSDs</Caption>

    <thead>  
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Capacity</th>
        <th>Form Factor</th>
        <th>Nand Flash</th>
        <th>Interface</th>
        <th>Rating</th>
        <th>Price</th>
        <th>:)</th>
      </tr>
    </thead>

    <tbody>
      <% @ssds.take(10).each do |ssd| %>
        <tr>
          <td><%= image_tag ssd.image, style: "height:50px;width:auto;" %></td>
          <td><%= ssd.name.to_s.truncate(28) %></td>
          <td><%= ssd.capacity %></td>
          <td><%= ssd.form_factor %></td>
          <td><%= ssd.nand_flash %></td>
          <td><%= ssd.interface %></td>
          <td><%= ssd.rating %></td>
          <td><%= ssd.price %></td>
          <td><%= button_to "Add to Build" %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>
