<section class="table-container">
  <table class="table">
    <Caption>CPU Coolers/Fans/AIO</Caption>

    <thead>  
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>RPM</th>
        <th>Noise Level</th>
        <th>Radiator Size</th>
        <th>Supported Socket</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @cpu_fans.take(10).each do |c| %>
        <tr>
          <td><%= image_tag c.image, style: 'height:50px;width:auto;' %></td>
          <td><%= c.name.to_s.truncate(30) %></td>
          <td><%= c.fan_rpm %></td>
          <td><%= c.noise_level %></td>
          <td><%= c.radiator_size %></td>
          <td><% c.supported_socket %></td>
          <td><%= c.price %></td>
          <td><%= link_to "Add", new_build_path(cpu_id: @cpu.id, 
                                      mobo_id: @mobo.id,
                                      ram_id: @ram.id,
                                      ssd_id: @ssd.id,
                                      hdd_id: @hdd.id,
                                      gpu_id: @gpu.id,
                                      psu_id: @psu.id,
                                      case_id: @case.id,
                                      case_fan_id: @case_fan.id,
                                      cpu_fan_id: c.id), 
                                      class:'add-button' %></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</section>
