<section class="form-section">
  <div class="form-section__content-container">
    <h1 class="">Sign up</h1>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder:"username" %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"ex: jade@gmail.com" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"password" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"password confirmation"%>
      </div>
    
      <div class="actions">
        <%= f.submit "Create Account" %>
      </div>
    <% end %>

    <div class='login'>
      <%= render "devise/shared/links" %>
    </div>
    
  </div>
</section>
