<section class="form-section">
  <div class="form-section__container">
    <h1 class="mb-5">Make Build</h1>
    
    <%= form_with model: @build, url: builds_path, method: :post do |f| %>

      <%= f.hidden_field :user_id, value: current_user.id %>
      
      <div class="field">
        <%= f.label "Build Name" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "Build Name" %>
      </div>

      <div class="field">
        <%= f.label "Motherboard" %><br /> <%= f.text_field '', value: @mobo.name %>
        <%= f.hidden_field :mobo_id, value: @mobo.id %>
      </div>

      <div class="field">
        <%= f.label "CPU" %><br />
        <%= f.text_field '', value: @cpu.name %>
        <%= f.hidden_field :cpu_id, value: @cpu.id %>
      </div>

      <div class="field">
        <%= f.label "PSU" %><br />
          <%= f.text_field '', value: @psu.name %>
        <%= f.hidden_field :psu_id, value: @psu.id %>
      </div>

      <div class="field">
        <%= f.label "Case" %><br />
          <%= f.text_field '', value: @case.name %>
        <%= f.hidden_field :case_id, value: @case.id %>
      </div>

      <div class="field">
        <%= f.label "CPU Fan" %><br />
          <%= f.text_field '', value: @cpu_fan.name %>
        <%= f.hidden_field :cpu_fan_id, value: @cpu_fan.id %>
      </div>

      <%= f.fields_for :build_case_fans do |g| %>
        <div class="field">
          <%= g.label :name, "Case Fan(s)" %><br />
          <%= g.text_field '', value: @case_fan.name %>
          <%= g.hidden_field :case_fan_id, value: @case_fan.id%>
        </div>
      <% end %>
      
      <%= f.fields_for :build_gpus do |g| %>
        <div class="field">
          <%= g.label :name, "GPU(s)" %><br />
          <%= g.text_field '', value: @gpu.name %>
          <%= g.hidden_field :gpu_id, value: @gpu.id %>
        </div>
      <% end %>

      <%= f.fields_for :build_hdds do |g| %>
        <div class="field">
          <%= g.label :name, "HDD(s)" %><br />
          <%= g.text_field '', value: @hdd.name %>
          <%= g.hidden_field :hdd_id, value: @hdd.id %>
        </div>
      <% end %>

      <%= f.fields_for :build_rams do |g| %>
        <div class="field">
          <%= g.label :name, "RAM(s)" %><br />
          <%= g.text_field '', value: @ram.name %>
          <%= g.hidden_field :ram_id, value: @ram.id %>
        </div>
      <% end %>

      <%= f.fields_for :build_ssds do |g| %>
        <div class="field">
          <%= g.label :name, "SSD(s)" %><br />
          <%= g.text_field '', value: @ssd.name %>
          <%= g.hidden_field :ssd_id, value: @ssd.id %>
        </div>
      <% end %>
    
      <div class="actions">
        <%= f.submit "Create Build" %>
      </div>
    <% end %>
  </div>
</section>