 
  <table class="content_table">
  <h2>CPU</h2>
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Socket</th>
        <th>Core Count</th>
        <th>Core Clock</th>
        <th>Boost Clock</th>
        <th>TDP</th>
        <th>Max Memory</th>
        <th>Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @cpus.each do |cpu| %>
        <td>image Place holder</td>
        <td><%= cpu.name %></td>
        <td><%= cpu.socket %></td>
        <td><%= cpu.core_count %></td>
        <td><%= cpu.core_clock %></td>
        <td><%= cpu.boost_clock %></td>
        <td><%= cpu.tdp %></td>
        <td><%= cpu.max_memory %></td>
        <td><%= cpu.price %></td>
        <td><%= link_to 'Add to Build', new_build_path %></td>
      <% end %>  
      </tr>
    </tbody>
  </table>
