<section class="table-container">
  <table class="table">
  <thead>  
    <tr>
      <th>CPU</th>
      <th>MotherBoard</th>
      <th>RAM</th>
      <th>Power Suppy Unit (PSU)</th>
      <th>Hard Disk Drive (HDD)</th>
      <th>Solid State Drive (SSD)</th>
      <th>Case Fan</th>
      <th>Case</th>
      <th>CPU Fan</th> 
      <th>Graphic Processing Unit (GPU)</th>
      <th>Total Price</th>
    </tr>
  </thead>  
  <tbody>
      <tr>
        <td><%= @build.cpu.name %></td>
        <td><%= @build.mobo.name %></td>
        <td><%= @build.rams.first.name %></td>
        <td><%= @build.psu.name %></td>
        <td><%= @build.hdds.first.name %></td>
        <td><%= @build.ssds.first.name %></td>
        <td><%= @build.case_fans.first.name %></td>
        <td><%= @build.case.name %></td>
        <td><%= @build.cpu_fan.name %></td>
        <td><%= @build.gpus.first.name %></td>
        <td><%= @build.total_price %></td>
      </tr>
      <%end%>
  </tbody>
</table>
</section>

 <div> 
  <h3>CPU: <%= @build.cpu.name %></h3>
  <h3>Motherboard: <%= @build.mobo.name %></h3>
  <h3>RAM: <%= @build.rams.first.name %></h3>
  <h3>PSU: <%= @build.psu.name %></h3>
  <h3>HDD: <%= @build.hdds.first.name %></h3>
  <h3>SSD: <%= @build.ssds.first.name %></h3>
  <h3>Case Fan: <%= @build.case_fans.first.name %></h3>
  <h3>Case: <%= @build.case.name %></h3>
  <h3>CPU Fan: <%= @build.cpu_fan.name %></h3>
  <h3>GPU: <%= @build.gpus.first.name %></h3>
  <h3>Total Price: <%= @build.total_price %></h3>
</div>