<nav class="navbar">
  <%= link_to(root_path) do %>
    <h1 class="navbar__brand-name">jade</h1>
  <% end %>

  <ul class="navbar__ul">
    <% if user_signed_in? %>
      <li class="navbar__li">
        <%= link_to 'Build', builds_path %>
      </li>

      <div class="right-profile">
        <a><%= current_user.username %></a>

        <div class="dropdown-menu">
          <div class="">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          </div>
        </div>
      </div>

    <% else %>

      <li class="navbar__li">
        <%= link_to 'Sign In', new_user_session_path, class:"" %>
      </li>

      <li class="navbar__li">
        <%= link_to 'Sign Up', new_user_registration_path, class:"" %>
      </li>
      
    <% end %>
  </ul>

</nav>
